@import url(https://realtechnerd.github.io/button.css/style.css);
* {
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: #d3d3d3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 10px;
  }
  html, body {
    overflow-x: hidden;
  }
.Header {
    overflow: hidden;
    padding: 15px;
    color: #fff;
    background-image: linear-gradient(
        141deg, 
        #9fb8ad 0%, 
        #1fc8db 51%, 
        #2cb5e8 75%
    );
    font-family: Inter !important;
}
.Header h1 {
    display: inline-block;
    padding: 2.5px;
}
.Header p {
    display: inline-block;
    padding: 2.5px;
}
.Footer {
    overflow: hidden;
    padding: 15px;
    color: #fff;
    background-image: linear-gradient(
        -141deg, 
        #9fb8ad 0%, 
        #1fc8db 51%, 
        #2cb5e8 75%
    );
    font-family: Inter !important;
}
.Footer h1 {
    display: inline-block;
    padding: 2.5px;
}
.Footer a {
    display: inline-block;
    padding: 2.5px;
    color: #fff;
    text-decoration: none;
}
#username {
    padding: 10px;
    font-size: 12.5pt;
    outline: none !important;
    border-radius: 10px;
    border: 0px solid #000;
    background-color: #d3d3d3;
    font-family: inter;
    width: 100%;
}
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px; margin-top: 10px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    padding: 7.5px;
    text-align: center;
    background-color: #d3d3d3;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 875px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }